<% layout("/layouts/boilerplate") %>

    <div class="row">
        <h1 class="col-6 offset-3">Login In wanderlust</h1>
        <div class="col-6 offset-3">
            <form action="/login" method="POST" novalidate class="needs-validation">
                
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input required type="text" id="username" name="username" class="form-control">
                    <div class="invalid-feedback">Please enter your username</div>
                    <div class="valid-feedback">looks perfect</div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input required type="password" id="password" name="password" class="form-control">
                    <div class="invalid-feedback">Please enter your password</div>
                </div>

                <button class="btn btn-success">Login</button>

            </form>
        </div>
    </div>